stages:
  - build

build-job:
    stage: build
    tags: 
      - build
    script:
      - (cd src/cat && make s21_cat)
      - (cd src/grep && make s21_grep)
    artifacts:
      paths:
        - src/cat/s21_cat
        - src/grep/s21_grep
      expire_in: 30 days
